@charset "utf-8";
body{display: flex; justify-content: center;}
ul{list-style: decimal;}
pre{margin: 0; padding: 0;}
.wrap{
	border: 1px solid #000;
	padding: 40px 40px 60px;
}
.example{background-color: rgb(225, 239, 248); padding: 20px 40px;}
.aw_wrap{background-color: rgb(250, 237, 242); padding: 20px 40px; margin-top: 20px;} 